<aside class="sidebar">
  <nav>
    <ul>

      <li>{{ '/overview/' | relative_url }}Overview</a></li>
      <li>{{ '/decision/' | relative_url }}Start here</a></li>

      <li>
        <strong>Lifecycle</strong>
        <ul>
          <li>/' | relative_url }}">Concept</a></li>
          <li> relative_url }}">Incubate</a></li>
          <li>{{ '/lifecycle/pilot/' | relative_url }}</li>
          <li>{{ '/lifecycle/scale/' | relative_url }}Scale</a></li>
        </ul>
      </li>

      <li>
        <strong>Guardrail tiers</strong>
        <ul>
          <li>{{ '/guardrail-tiers/' | relative_url }}Overview</a></li>
        </ul>
      </li>

      <li>
        <strong>Personas</strong>
        <ul>
          <li> '/personas/programme-leads/' | relative_url }}">Programme leads</a></li>
          <li>{{ '/personas/project-managers/' | relative_url }}Project managers</a></li>
          <li>{{ '/personas/technologists/' | relative_url }}Technologists</a></li>
        </ul>
      </li>

      <li>
        <strong>Checklists</strong>
        <ul>
          <li>{{ '/checklists/lifecycle-checklists/' | relative_url }}Lifecycle checklists</a></li>
        </ul>
      </li>

      <li>{{ '/attack-vectors/' | relative_url }}Threats</a></li>
      <li>{{ '/red-teaming/' | relative_url }}Red teaming</a></li>

    </ul>
  </nav>
</aside>
