<div class="site-nav">
  <nav>
    <ul>

      Overview</a></li>
      Start here</a></li>

      <li><strong>Lifecycle</strong>
        <ul>
          <li>Concept</a></li>
          <li>Incubate</a></li>
          <li>Pilot</a></li>
          <li>Scale</a></li>
        </ul>
      </li>

      <li><strong>Guardrail tiers</strong>
        <ul>
          <li>Overview</a></li>
        </ul>
      </li>

      <li><strong>Personas</strong>
        <ul>
          <li>Programme leads</a></li>
          <li>Project managers</a></li>
          <li>Technologists</a></li>
        </ul>
      </li>

      <li><strong>Checklists</strong>
        <ul>
          <li>Lifecycle checklists</a></li>
        </ul>
      </li>

      <li>Threats</a></li>
      Red teaming</a></li>

    </ul>
  </nav>
</div>
