<div class="site-nav">
  <nav>
    <ul>

      <li>
        <a href="{{ '/overview/' | relative_url }}">Overview</a>
      </li>

      <li>
        <a href="{{ '/decision/' | relative_url }}">Start here</a>
      </li>

      <li>
        <strong>Lifecycle</strong>
        <ul>
          <li><a href="{{ '/lifecycle/concept/' | relative_url }}">Concept</a></li>
          <li><a href="{{ '/lifecycle/incubate/' | relative_url }}">Incubate</a></li>
          <li><a href="{{ '/lifecycle/pilot/' | relative_url }}">Pilot</a></li>
          <li><a href="{{ '/lifecycle/scale/' | relative_url }}">Scale</a></li>
        </ul>
      </li>

      <li>
        <strong>Guardrail tiers</strong>
        <ul>
          <li><a href="{{ '/guardrail-tiers/' | relative_url }}">Overview</a></li>
        </ul>
      </li>

      <li>
        <strong>Personas</strong>
        <ul>
          <li><a href="{{ '/personas/programme-leads/' | relative_url }}">Programme leads</a></li>
          <li><a href="{{ '/personas/project-managers/' | relative_url }}">Project managers</a></li>
          <li><a href="{{ '/personas/technologists/' | relative_url }}">Technologists</a></li>
        </ul>
      </li>

      <li>
        <strong>Checklists</strong>
        <ul>
          <li><a href="{{ '/checklists/lifecycle-checklists/' | relative_url }}">Lifecycle checklists</a></li>
        </ul>
      </li>

      <li>
        <a href="{{ '/attack-vectors/' | relative_url }}">Threats</a>
      </li>

      <li>
        <a href="{{ '/red-teaming/' | relative_url }}">Red teaming</a>
      </li>

    </ul>
  </nav>
</div>
